# Debugging
DEBUG=false

# Spotify Credentials
SPOTIFY_CLIENT_ID=client_id
SPOTIFY_CLIENT_SECRET=client_secret

# Redis
REDIS_PASSWORD=hackme
REDIS_KEY=hackme  # must be exactly 32 bytes, generate with: openssl rand -hex 16

# Postgres
POSTGRES_PASSWORD=hackme

# URLs
FRONTEND_URL=https://overplayed.gaelangel.com/
CALLBACK_URL=https://api.overplayed.gaelangel.com/auth/callback
