# Debugging ("true" or "false")
DEBUG=true

# Spotify Credentials
SPOTIFY_CLIENT_ID=client_id
SPOTIFY_CLIENT_SECRET=client_secret

# Redis
REDIS_PASSWORD=hackme
REDIS_ENCRYPTION_KEY=hackme

# Postgres
POSTGRES_PASSWORD=hackme
POSTGRES_USER=postgres
POSTGRES_DB=postgres