# Environment ("development" or "production")
ENV=development

# Spotify Credentials
SPOTIFY__CLIENT_ID=client_id
SPOTIFY__CLIENT_SECRET=client_secret

# Redis
REDIS__PASSWORD=hackme
REDIS__ENCRYPTION_KEY=hackme

# PostgreSQL
POSTGRES__PASSWORD=hackme