# Application
DEBUG=false
FRONTEND_URL=http://127.0.0.1:5173
CALLBACK_URL=http://127.0.0.1:8080/auth/callback

# Spotify OAuth
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Database
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_DB=

# Redis
REDIS_USER=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_KEY=  # must be exactly 32 bytes
