# Application
FRONTEND_URL=http://127.0.0.1:5173

# Spotify Credentials
SPOTIFY_APP_CLIENT_ID=          # your actual spotify app client id
SPOTIFY_AUTH_CLIENT_ID=         # navigate to dev dashboard -> network tab -> search 'token' -> 'client_id' field from request form data
SPOTIFY_REFRESH_TOKEN=          # same process, but 'refresh_token' value from response json

# Redis
REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_KEY=  # openssl rand -base64 32
