# Spotify Credentials
SPOTIFY_APP_CLIENT_ID=your_app_client_id
SPOTIFY_AUTH_CLIENT_ID=spotify_auth_client_id  # navigate to dev dashboard -> network tab -> search 'token' -> 'client_id' field from request form data
SPOTIFY_REFRESH_TOKEN=your_refresh_token       # same process, but 'refresh_token' value from response json

# Redis
REDIS_PASSWORD=hackme
REDIS_KEY=hackme # openssl rand -base64 32
